<!DOCTYPE html>
<html>
	<head>
		<title>microblog</title>
		<link rel='stylesheet' href='/stylesheets/semantic.min.css' />
	</head>
	<body>
		<% 
			var home = title == 'home' ? 'active' : ''
			var	public = title == 'public' ? 'active' : ''
			var	login = title == 'login' ? 'active' : ''
			var	reg = title == 'reg' ? 'active' : ''
			var	userActive = title == 'user' ? 'active' : ''
		%>

		<div class="pusher">
			<!-- 顶部导航栏 -->
			<div class="ui inverted vertical masthead center aligned segment">
				<div class="ui container">
			      <div class="ui large secondary inverted pointing menu">
			        <a href="/" class="<%= home %> item">Home</a>
			        <% if(user){ %>
					<a href="/public" class="<%= public %> item">Public</a>
			        <% } %>
			        
			        <div class="right item">
			        	<!-- 根据user身份判断 -->
			        	<% if(!user){ %>
			          		<a href="/login" class="<%= login %> ui inverted button">Log in</a>
			          		<a href="/reg" class="<%= reg %> ui inverted button" 
			          			style="margin-left: .5em;">	
			          			Sign Up
			          		</a>
						<% }else{ %>

							<a href="/user" class="<%= userActive %> ui inverted button">
								<%= user.username %>
							</a>
							<a href="/logout" class="ui inverted button" 
								style="margin-left:.5em;">
								Log out
							</a>
						<% } %>	
			          
			        </div>
			      </div>
			    </div>
			</div>

			<%- body %>
		</div>
		
	</body>
</html>